<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>You may have books on this server</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	   <link type="text/css"rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" /> 
</head>
	<body>
		<div><h1>Books, all of them</h1></div>
		<a class="btn btn-success" th:href=@{logout}>Logout</a>
		<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
		<table class="table table-striped">
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Category</th>
				<th>ISBN</th>
				<th>Year</th>
				<th>Price</th>
				<th>Control</th>
			</tr>
			<tr th:each="book : ${books}">
				<td th:text=${book.title}></td>
				<td th:text=${book.author}></td>
				<td th:text=${book.category.name}></td>
				<td th:text=${book.isbn}></td>
				<td th:text=${book.year}></td>
				<td th:text=${book.price}></td>
				<td><a sec:authorize="hasAuthority('ADMIN')" th:href=@{delete/{id}(id=${book.id})} class="btn btn-danger">Delete</a>
				<a th:href=@{edit/{id}(id=${book.id})} class="btn btn-success">Edit</a></td>
			</tr>
		</table>
		<a class="btn btn-success" href="/add">Add new book</a>
		
	</body>

</html>